.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box.edit-pesanan {
  background: #fff;
  border-radius: 10px;
  width: 700px;
  padding: 20px;
  max-height: 90vh; /* ⬅️ batas tinggi maksimal */
  overflow-y: auto; /* ⬅️ biar bisa di-scroll */
  box-sizing: border-box; /* ⬅️ penting agar padding tidak menambah tinggi total */
}

.modal-box.edit-pesanan::-webkit-scrollbar {
  width: 6px;
}

.modal-box.edit-pesanan::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1e1e1e;
}

.modal-header h3 {
  font-weight: bold;
}

.list-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item-menu {
  display: grid;
  grid-template-columns: 1fr 100px 120px 90px; /* nama menu | harga | qty control | hapus btn */
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.table-harga {
  text-align: right;
}

.status-nama {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.btn-minus {
  border-radius: 5px;
  border: 1.5px solid #1e1e1e;
  background-color: transparent;
}

.btn-plus {
  border-radius: 5px;
  border: 1.5px solid #1e1e1e;
  background-color: transparent;
}

.qty-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.qty-control button {
  padding: 4px 8px;
}

.hapus {
  background-color: #d33;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.hapus:hover {
  background-color: #b72828;
}


/* .qty-control {
  display: flex;
  align-items: center;
}

.qty-control button {
  padding: 2px 6px;
}

.hapus {
  background-color: #d33;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 10px;
} */

.badge.merah {
  background: #e74c3c;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.modal-footer {
  border-top: 2px solid #1e1e1e;
}

.btn.batal {
  background: transparent;
  color: #29D840;
  border: 2px solid #29D840;
  font-weight: 520;
}

.btn.simpan {
  background: #29D840;
  border: 2px solid #29D840;
  color: white;
  font-weight: 520;
}

.hr-kartu {
  border-bottom: 2px solid #1e1e1e;
}
