.topbar {
  background-color: #1c1c1c;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topbar-left .brand {
  font-size: 20px;
  font-weight: bold;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-weight: 500;
  color: white;
}

.topbar .dropdown-toggle {
  color: white !important;
}

.topbar .dropdown-toggle::after {
  color: white !important;
}

.logout-btn {
  background-color: #e74c3c;
  font-size: 16px;
  border: none;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s ease;
  font-weight: 530;
}

.logout-btn:hover {
  background-color: #c0392b;
}
